@model SportsStore.WebUI.Models.ProductsListViewModel
@using SportsStore.WebUI.HtmlHelpers

@{
    ViewBag.Title = "Products";
}
    <div class="items">
        @foreach (var p in Model.Products)
        {
            Html.RenderPartial("ProductSummary", p);
        }
    </div>
    <div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, category = Model.CurrentCategory }))
    </div>