body {
    margin: 0px;
    padding: 0px;
}

.title {
    margin: 0px;
    padding: 0px;
    background: #303030;
    display: block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.categories {
    margin: 0px;
    padding: 0px;
    display: block;
    float: left;
}
.content {
    margin: 0px 800px 0px 10px;
    padding: 0px;
    display: block;
    float: right;
    border-left: 2px solid black;
}
