body {
    margin: 0;
    padding: 0;
}
.header
{
    background-color: #303030;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}
.title {
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.content {
    display: block;
    padding-left: 20px;
    border-left: 2px solid black;
}
.body {
    display: flex;
}
.item {
    display: block;
    border-bottom: 2px dotted #808080;
}
h3 {
    margin: 10px 0 5px 0;
}
h4 {
    margin: 5px 0;
}
.pager {
    letter-spacing: 5px;
    float: right;
}.pager a {
    text-decoration: none;
    color: black;
}
    .pager a.selected {
        color: white;
        background-color: #606060;
    }
.categories{
    margin: 0 10px 0 5px;
}
.categories a {
    margin-bottom: 10px;
    padding: 5px 20px 10px 10px;
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid #9a9a9a;
}

.categories a.selected {
    color: white;
    background-color: #606060;
}
